.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.button-container button {
    margin: 0 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #05386B;
    font-family: "Alfa Slab One", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.button-container button:hover {
    background-color: #379683;
    box-shadow: 0 0 0px 2px black;
    cursor: pointer;
}

.image-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 960px;
    padding: 16px;
    background-color: #379863;
    border-radius: 8px;
}
