.button-container {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-bottom: 32px;
}

.button-container button {
    margin: 0 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #a881af;
    color: white;
    font-weight: bold;
}

.button-container button:hover {
    background-color: #80669d;
    box-shadow: 0 0 0px 2px black;
}

.image-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    /* width: 100%; */
    max-width: 960px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.image-container {
    position: relative;
    height: 200px;
    margin: 4px;
}

.image {
    height: 200px;
    content: '';
}

.image:hover {
    box-shadow: 0px 0px 3px 3px green;
}

.favourite::after {
    background: url("/assets/heart.png") 0 0 no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 4px;
    top: 4px;
    content: ' ';
}