.tab-container {
    display: flex;
    justify-content: center;
}

.tab {
    position: relative;
    margin: 0 8px;
}

.tab:hover:after {
    width: 100%;
    border: 2px solid #379683;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
}

.tab.selected::after  {
    width: 100%;
    border: 2px solid #05386B;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
}