/* You can add global styles to this file, and also import other style files */

p {
    margin: 0;
}


body {
    margin: 0;
    background-color: #5CDB95;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

button {
    color: #EDF5E1;
    font-family: "Alfa Slab One", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}